{% extends 'basic.html' %}
 {% block title %} 
 {{user.first_name}} 
 {% endblock title %} 
 
 {% block body %}

<div class="container mt-5">
  <div class="row">
    <!-- 1num colum.. -->
     <div class="col-md-4 ">
            
        <div style="background-color: #fcf7f3 !important" class="card w-100 h-auto align-items-center p-5 bg">
              <a href="{% url 'editAccount' %}" class="btn btn-info mb-2"> <i class="fa-solid fa-pen-to-square"></i>Edit</a>
            <img class="card-img-top rounded-circle w-75" src="{{user.profile_img.url}}" alt="Card image cap">
            <div class="card-body text-center">
                <h3 class="name">{{user.first_name}} {{user.last_name}}</h3>
              <p class="card-text">{{user.location}}</p>

              {% if user.github_link %}
               <a class="p-3" target="_blank" href="{{user.github_link}}"><i class="fa-brands fa-github"></i></a>
              {% endif %}
              {% if user.facebook_link %}
              <a class="p-3" target="_blank" href="{{user.facebook_link}}"><i class="fa-brands fa-facebook"></i></a>
              {% endif %}
             {% if user.linkedin_link %}
              <a class="p-3" target="_blank" href="{{user.linkedin_link}}"><i class="fa-brands fa-linkedin"></i></a>
             {% endif %}
            </div>
          </div>
        </div>
             <!-- 2num coloum -->
    <div class="col-md-8 ps-5">
        <h1>About Me</h1>
     <p style="font-family: cursive !important" class="text-justify p-3">{{user.bio}}</p>
     <div class="d-flex bd-highlight mt-2 p-t2">
        <div class="w-100 bd-highlight "><h1>Skills</h1></div>
        <a href="{% url 'addSkill' %}" class="p-2 flex-shrink-1 bd-highlight"><button type="button" class="btn btn-info"> <i class="fa-solid fa-plus"></i>Add Skills</button></a>
      </div>
      <div class="p-3">
        {% for skill in topSkills %}
            <h4>{{skill.name}}</h4>
            <div class="d-flex bd-highlight card">
               <div class="row">
                <div class="col-10">
                 <div class="p-2 w-100 bd-highlight"><p>{{skill.description}}</p></div>
               </div>
                {% comment %} <a href="{% url 'updateSkill' skill.id %}" class="btn btn-outline-info"><i class="fa-solid fa-pen-to-square"></i>  Edit</a> {% endcomment %}
                <div class="col-2 d-flex align-items-start flex-column">
                  <a href="{% url 'updateSkill' skill.id %}" class="btn btn-outline-info mx-1 my-3 p-2"> <i class="fa-solid fa-pen-to-square"></i> Edit</a>
                <a href="{% url 'deleteSkill' skill.id %}" class="btn btn-outline-info my-3"> <i class="fa-solid fa-trash-can"></i> Delete</a>
                </div>
               </div>
            </div>
            {% endfor %}
            

        <div class="w-100 bd-highlight "><h1>Other Skills</h1></div>
            <div class="p-3">
                {% for skill in otherSkills %}
            <button class="btn btn-secondary">{{skill.name}}</button>
            {% endfor %}
            </div>
            
          
      <hr>

      
      <div class="d-flex bd-highlight my-5">
        <div class="p-2 w-100 bd-highlight"><h1>Projects</h1></div>
        <div class="p-2 flex-shrink-1 bd-highlight"><a href="{% url 'createProject' %}" class="btn btn-secondary"> <i class="fa-solid fa-plus"></i>Add Project</a></div>
      </div>
      {% for project in projects %}
      <div class="card mb-5 h-auto">
        <!-- style="max-width: 540px;" -->
        <div class="row">
            <div class="col-md-3">
              <img src="{{project.project_img.url}}" class="card-img-top img-fluid" >
            </div>
            <div class="col-md-7">
                
                <div class="card-body">
                    <div class="my-1">
                        <div>
                           <h3>{{project.title}}</h3>
                            <div class="d-flex bd-highlight">
                                <div class="p-2 w-100 bd-highlight"><p>
                                  {{project.description}}
                                </p></div>
                                
                        </div>
                      </div>
                    </div>
                  </div>
            
            </div>
            <div class="col-md-2 d-flex align-items-start flex-column">
              <a href="{% url 'updateProject' project.id %}" class="btn btn-outline-info mt-1"><i class="fa-solid fa-pen-to-square"></i>  Edit</a>
              <a href="{% url 'deleteProject' project.id %}" class="btn btn-outline-info my-3"> <i class="fa-solid fa-trash-can"></i> Delete</a>
            </div>
        </div>
      </div>
      {% endfor %}
        </div>
        </div>
       </div>
        </div>  
    </div>
    
{% endblock body %}
